# Symfony
/bin/
/var/
/vendor/
/.env.local
/.env.*.local
/.env
/public/uploads/
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# OS
Thumbs.db
.DS_Store

# PHP
.php_cs
.php_cs.cache

# Database
*.sql
*.sqlite

# Docker
.env.docker
